## ------------------------
# General
# ------------------------
KC_HOSTNAME=hostname.here #auth.awhadi.online
KC_HTTP_PORT=8080
TZ=Europe/Berlin

# ------------------------
# Temp Keycloak Admin
# ------------------------
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin123

# ------------------------
# Database (PostgreSQL)
# ------------------------
POSTGRES_DB=keycloak
POSTGRES_USER=keycloak
POSTGRES_PASSWORD=keycloakpass

KC_DB=postgres
KC_DB_URL=jdbc:postgresql://postgres:5432/keycloak
KC_DB_USERNAME=keycloakdb
KC_DB_PASSWORD=keycloakdbpass


# ------------------------
# Logging / Monitoring
# ------------------------
KC_LOG_LEVEL=INFO
KC_METRICS_ENABLED=true
KC_HEALTH_ENABLED=true
